# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# PyCharm
.idea/

# macOS
.DS_Store

# Generated folders
exports/
documents/

# Logs
*.log

# Secrets
.env

# Generated vector database
knowledge_base/vector_db/

# Generated exports
Traceability_Matrix_DEV.xlsx